{% extends 'base.html' %}

{% block all_tags %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{message}}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Tags</h1>
    <ul>
    {% for tag in tags %}
    <li><a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
    {% endfor %}
    </ul>   
    <a class='btn btn-secondary' href="/tags/new">Add Tag</a>
{% endblock %}