{% extends 'base.html' %}

{% block details %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{message}}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="d-flex align-items-center">
        <div class="d-flex">
            <img src={{user.image_url}} alt="user-image" class="img-thumbnail" width="150px" height="150px">
        </div>
        <div class="container">
            <div class="container">
                <h1>{{user.get_full_name()}}</h1>
            </div>
            <div class="container d-flex">
                <a class='btn btn-primary' href="/users/{{user.id}}/edit">Edit</a> 
                <form action="/users/{{user.id}}/delete" method="POST">
                    <button class='btn btn-danger'>Delete</button>
                </form>
            </div>
            <div class="container">
                <h1>Posts</h1>
                <ul>
                    {% for post in posts %}
                     <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
                <a href='/users/{{user.id}}/posts/new' class="btn btn-primary">Add Post</a>
            </div>
        </div>
        
        
    </div>
    

{% endblock %}
  
