{% extends 'base.html' %}

{% block edit %}
        <h1>Edit {{user.first_name}} {{user.last_name}}</h1>
        <form action="/users/{{user.id}}/edit" method="POST"> 
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="edit_first_name" placeholder="Enter a first Name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="edit_last_name" placeholder="Enter a last Name">
            </div>
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input type="url" class="form-control" name="image_url" id="edit_image_url" placeholder="Provide an image of this user">
            </div>
            <div class="d-flex justify-content-end">
                <a class='btn btn-light' href="/users/{{user.id}}">Cancel</a>
                <button class='btn btn-success'>Save</button>
            </div> 
        </form>   
{% endblock %}
